@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');

@font-face {
	font-family: slick;
	font-display: swap;
	src: url("../fonts/slick.woff2") format("woff2"), url("../fonts/slick.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
