@import "fonts";
@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }
  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

.logo {
  margin: 0 auto;
}

.menu {
  padding-right: 15px;
  &__list {
    display: flex;
  }
  &__list-item {
    padding-right: 45px;
    padding-left: 35px;
  }
  &__list-link {
    @extend %title-font;
    color: rgba(54, 56, 56, 0.9);
    line-height: 22px;
  }
}

.footer {
  &__content {
    background-color: #DFDFDF;
    padding: 60px 0 80px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    width: 540px;
  }

  &__info-title {
    color: $title;
    @extend %title-font;
    margin-bottom: 14px;
    line-height: 23px;
  }

  &__info-text {
    margin-bottom: 16px;
    line-height: 27px;
    max-width: 476px;
  }

  &__info-email {
    display: inline-block;
    font-weight: 600;
    color: $title;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 22px;
    padding-left: 30px;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    width: 100%;
    padding: 6px 10px 6px 18px;
    border: 1px solid rgba($title, 0.7);
    border-radius: 21px;
    background-color: transparent;

    &::placeholder {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-style: 16px;
      line-height: 27px;
      color: #A1A1A1;
    }
  }

  &__form-button {
    cursor: pointer;
    min-width: 160px;
    background-color: $title;
    border: none;
    color: #FFFFF0;
    line-height: 28px;
    border-radius: 21px;
    font-weight: 600;
    padding: 6px 12px;
    margin-left: 9px;
  }

  &__social {
    width: 125px;
    margin-right: auto;
    margin-left: 100px;
  }

  &__social-link {
    padding-left: 28px;
  }

  &__social-item, 
  &__menu-item {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
  }

  &__social-link, 
  &__menu-link {
    color: #707070;
    line-height: 28px;
  }

  &__menu {
    margin-right: 60px;
    width: 125px;
  }

  &__copyright {
    background-color: $title;
    color: #A1A1A1;
    text-align: center;
    padding: 42px 0 41px;
  }
}
